version: "3.5"
services:
  erigon:
    image: "erigon.gnosis-erigon.dnp.dappnode.eth:0.1.0"
    build:
      context: .
      args:
        UPSTREAM_VERSION: v2.59.2
    ports:
      - "31305:31305/tcp"
      - "31305:31305/udp"
    volumes:
      - "data:/home/gnosis-erigon/.local/share"
    environment:
      P2P_PORT: 31305
      TORRENT_PORT: 43084
      PPROF_PORT: 6061
      EXTRA_OPTS: "--http.api=engine,eth,erigon,web3,net,debug,trace,txpool"
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          memory: 32768M
volumes:
  data: {}
