version: "3.5"
services:
  erigon:
    image: "erigon.erigon-gnosis.dnp.dappnode.eth:0.1.0"
    build:
      context: .
      args:
        UPSTREAM_VERSION: v2.31.0
    ports:
      - "31305:31305/tcp"
      - "31305:31305/udp"
    volumes:
      - "erigon-gnosis:/home/erigon-gnosis/.local/share"
    environment:
      P2P_PORT: 31305
      EXTRA_OPTs: "--http.api=engine,eth,erigon,web3,net,debug,trace,txpool"
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    deploy:
      resources:
        limits:
          memory: 32768M
volumes:
  erigon-gnosis: {}
